@use '../Input/Input.module';
@use '../styles/variables';
@use '../styles/mixins';

.container {
  align-items: center;
  position: relative;
  display: flex;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 100%;

  @media (hover: hover) {
    &:focus + .display {
      display: none;
    }
  }
}

.display {
  @include mixins.position(absolute);
  display: none;

  @media (hover: hover) {
    display: block;
  }
}

.arrow {
  @include mixins.transition(transform);
  @include mixins.position(absolute);
  margin-right: map-get(variables.$unit, component);

  &--flip {
    transform: rotate(180deg);
  }
}

.dropdown {
  @include mixins.transition(transform opacity max-height);
  @include mixins.scroll;

  margin: map-get(variables.$unit, element) 0 map-get(variables.$unit, element) *
    -1.5;
  font-size: map-get(variables.$text, smaller);
  border: 2px solid var(--background-active);
  background-color: var(--background);
  border-radius: variables.$radius;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;

  transform: translateY(-1rem);
  pointer-events: none;
  max-height: 0;
  opacity: 0;

  &--show {
    transform: translateY(0);
    pointer-events: all;
    max-height: 8.55rem;
    margin-bottom: 0;
    opacity: 1;
  }
}

.item {
  @include mixins.transition(background-color);
  padding: map-get(variables.$unit, element);
  cursor: pointer;
  display: flex;

  &--selected,
  &:hover {
    background-color: var(--text-highlight);
  }

  &:active {
    background-color: var(--background-hover);
  }
}

.check {
  width: map-get(variables.$unit, element);
  color: var(--teal);
  margin-left: auto;
  display: none;

  &--show {
    display: inline-block;
  }
}
