@use './fonts.scss';

$font: fonts.font-family(Avenir);

$unit: (
  section: 3.6rem,
  container: 1.8rem,
  component: 1rem,
  element: 0.6rem,
  tad: 0.3rem,
);

$button_type: (solid, outline, ghost);

$text: (
  large: 1.5rem,
  larger: 1.2rem,
  normal: 1rem,
  smaller: 0.85rem,
  small: 0.7rem,
);

$radius: 0.4rem;

$speed: (
  fast: 150ms,
  normal: 200ms,
  slow: 300ms,
  page: 500ms,
);

$media: (
  phone: 550px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1440px,
);

$ease: cubic-bezier(0.4, 0, 0.2, 1);

:export {
  @each $tag, $val in $speed {
    speed_#{$tag}: #{$val};
  }
  @each $tag, $val in $media {
    media_#{$tag}: #{$val};
  }
  button_type: $button_type;
}
